body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}
li {
  list-style: none
}
.menu {
display: flex;
justify-content: center
}
.menu li {
  margin: 10px;
  padding:5px 0px;
  cursor: pointer
}
.popular-list{
  display: flex;
flex-wrap: wrap;  
  justify-content: space-between;
}
.popular-list li {
  margin: 10px;
  padding: 10px;
display: flex;
flex-direction: column
}
.popular-list li img {
  width: 120px;
  border-radius: 50%;
}
.username {
  font-size:12px;
}